<content>
        <div class="container">
            <h3 class="text-center"><b>Giới thiệu</b></h3>
            <hr>
            <h5>
            <p>
              Kì thi THPT Quốc gia là một trong những kì thi quan trọng nhất của mỗi con người, là bước ngoặt cuộc đời, 12 năm đèn sách thể hiện trên một trang giấy. Tuy nhiên, không phải ai cũng có điều kiện tiếp cận với kiến thức một cách dễ dàng. Thất bại là có nguyên nhân, thành công là do phương pháp. Chính vì thế, HL308 Group đã xây dựng một trang web giúp các học sinh tiếp cận với các đề thi thử của các trường THPT trên toàn quốc.
            </p>
            <b>
                <p>
                    Dự án được lấy ý tưởng từ: viettelstudy.vn
                </p>
                <p>
                    Link đến trang web: <a href="http://viettelstudy.vn/baithi.aspx?uc=6&id_thi=11&id_mon=37&id_loai_bt=5\" target="_blank">viettelstudy</a>
                </p>
                <p>
                    Liên kết đến repo của nhóm trên github: <a href="https://github.com/phamminhngoc198/INT2208-2-2017/tree/master/Nhom-HL308" target="_blank">https://github.com/phamminhngoc198/INT2208-2-2017/tree/master/Nhom-HL308</a>
                </p>
            </b>
            </h5>
        </div>
</content>